.dashboard-body {
  width: 100vw;
}

.product-card {
  height: 200px;
  width: 200px;
  border: 1px black solid;
  background-color: #d34735;
}

.product-display {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
